language: python

python:
  - "3.5"
  
sudo: false
cache: pip

addons:
  postgresql: "9.6"
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow

sudo: false
cache: pip

addons:
  postgresql: "9.6"
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow

env:
  global:
  - VERSION="12.0" TESTS="0" LINT_CHECK="0"
  - TRANSIFEX_USER='transbot@odoo-community.org'
  - secure: TBV3BAz/Bx1rAP/diCeySS3yFo8qOk0lmy33CXmd/YKcMbKCuN6Y/a72dCvLtJkLrM2Aalo+AhafEp8JJoKf6UJLNHn09hRHL5KjKfY4I32cb60LxlGwYMAOePduBfoYWMsEv95x54caHqNd94uP8/Ot0zXRDjp0V9INHnmQIzY= 
  matrix:
  - LINT_CHECK="1"
  - TESTS="1" ODOO_REPO="OCA/OCB"
  - TESTS="1" ODOO_REPO="odoo/odoo" MAKEPOT="1"


install:
  - git clone https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
