/* Chrome, Safari, Edge, Opera */
input#aba::-webkit-outer-spin-button,
input#aba::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#aba{
  -moz-appearance:textfield;
}