html, body, #wrapwrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 50%;
}
.div_box {
    border: 1px solid #CCCCCC;
    box-shadow: 10px 10px 5px #CCCCCC;
    border-radius: 15px;
    height: 300px;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
}
.div_head {
    font-size: 18px;
    margin-left: 0.00%;
    margin-top: 3%;
    margin-right: 0.00%;
}
